/* TODO: Finalize styles for all elements (e.g. game over result) */

/* RESET & BASE STYLES */

:root {
  --bg-color-white: #fff;
  --text-color: rgba(0, 0, 0, 0.75);
  --text-color-soft: rgba(0, 0, 0, 0.4);

  --game-bg-color: hsl(134, 14%, 23%);
  --game-edge-color: hsl(134, 14%, calc(23% - 10%));
  --game-title-color: #943333;

  --modal-bg-color: rgba(0, 0, 0, 0.5);
  --modal-edge-color: hsl(0, 0%, calc(100% - 20%));

  /* TODO: Use CSS vars for select dimensions.... */
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;

  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

a {
  color: inherit;
}

/* GAME ELEMENTS */

.game {
  display: grid;
  place-items: center;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: var(--game-bg-color);
}

.game__title,
.game__score,
.game__result {
  position: absolute;
  margin: 0;
  display: block;
  color: var(--text-color);
  font-weight: 700;
  text-align: center;
  z-index: 1;
  visibility: hidden;
}

.game__title {
  top: 22%;
  font-size: 26px;
  color: var(--game-title-color);
}

.game__score,
.game__result {
  top: 22%;
  font-size: 26px;
}

.game__result {
  display: flex;
  justify-content: center;
  gap: 32px;
  text-align: center;
}

.game__result-score-label,
.game__result-best-label {
  font-size: 14px;
  color: var(--text-color-soft);
}

.game__start-hint,
.game__reset-hint {
  position: absolute;
  top: calc(50% + 60px);
  left: calc(50% + 76px);
  transform: translate(-50%, -50%);
  display: block;
  margin: 0;
  padding: 4px 8px;
  border-radius: 16px 16px 16px 0;
  background-color: var(--bg-color-white);
  color: var(--text-color);
  font-size: 12px;
  font-weight: 700;
  text-align: center;
  z-index: 1;
  visibility: hidden;
}

.canvas {
  display: block;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% auto;
  visibility: hidden;
}

/* INFO BUTTON & MODAL */

.info-button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 8px;
  border: none;
  border-radius: 0 0 0 20px;
  background-color: var(--bg-color-white);
  color: var(--text-color);
  font-size: 14px;
  font-weight: 700;
  display: grid;
  grid-template-columns: auto auto;
  gap: 4px;
  cursor: pointer;
  visibility: hidden;
}

.info-button__icon {
  padding: 9px;
  background-image: url("../img/snack.png");
  background-size: contain;
}

.info-button__text {
  padding: 1px 0;
}

.info-modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  display: grid;
  place-items: center;
  padding: 24px;
  background-color: var(--modal-bg-color);
  cursor: pointer;
  visibility: hidden;
}

.info-modal__card {
  max-width: 320px;
  background-color: var(--bg-color-white);
  padding: 16px 32px;
  border-radius: 16px;
  box-shadow: 0 6px 0 var(--modal-edge-color);
  font-size: 14px;
  line-height: 1.5;
  font-weight: 500;
  color: var(--text-color);
  cursor: default;
}

.info-modal__header {
  text-align: center;
  margin-bottom: 24px;
}

.info-modal__decoration {
  display: inline-block;
  width: 112px;
  height: 40px;
  background-image: url('../img/enemy-1.png'), url('../img/enemy-2.png'), url('../img/enemy-1.png');
  background-position: left, center, right;
  background-size: 24px 24px, 24px 24px, 24px 24px;
  background-repeat: no-repeat;
}

.info-modal__footer {
  color: var(--text-color-soft);
  text-align: center;
  margin-top: 48px;
}

/* DESKTOP STYLES */

@media (min-aspect-ratio: 1/1) and (min-width: 900px) {
  .canvas {
    border-radius: 16px;
    box-shadow: 0 6px 0 var(--game-edge-color);
  }
}
