/* RESET */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

/* BASE STYLES */

:root {
  /* color: general */
  --white: #fff;
  --text-color: rgba(0, 0, 0, 0.75);
  --text-color--soft: rgba(0, 0, 0, 0.4);

  /* color: game */
  --game-bg-color: hsl(134, 14%, 23%);
  --game-edge-color: hsl(134, 14%, calc(23% - 10%));

  /* color: title */
  --title-edge-color: #943333;

  /* color: modal */
  --modal-bg-color: rgba(0, 0, 0, 0.5);
  --modal-edge-color: hsl(0, 0%, calc(100% - 20%));

  /* dimension: general */
  --edge-height: 6px;
  --border-radius: 16px;

  /* font: general */
  --font-family: "Inter", sans-serif;
  --font-size: 14px;
  --font-size--h2: 24px;
  --font-weight: 500;
  --font-weight--bold: 700;
  --font-weight--black: 900;
  --line-height: 1.5;
}

body {
  font-family: var(--font-family);
  font-optical-sizing: auto;
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  color: var(--text-color)
}

a {
  color: inherit;
}

button {
  font-family: var(--font-family);
  font-size: var(--font-size);
}

/* LOADING SCREEN */

.loading {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--white);
  z-index: 1;
}

.loading__icon {
  width: 24px;
  height: 24px;
  background-image: url("../img/snack.png");
  background-size: contain;
  background-repeat: no-repeat;
  animation: spin 1.25s infinite linear;
}

.loading--completed {
  transform: translateY(-110vh);
  transition: all 800ms;
}

/* GAME ELEMENTS */

.game {
  display: grid;
  place-items: center;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: var(--game-bg-color);
}

.game__title,
.game__score,
.game__result {
  position: absolute;
  top: 22%;
  margin: 0;
  display: block;
  color: var(--text-color);
  font-weight: var(--font-weight--bold);
  text-align: center;
  z-index: 1;
  visibility: hidden;
  width: 100%;
}

.game__title {
  color: var(--white);
  font-family: "Chango", sans-serif;
  font-weight: var(--font-weight--black);
  text-transform: uppercase;
  line-height: 1;
}

.game__title-first-line {
  font-size: 24px;
  letter-spacing: 1px;
  text-shadow: 0 4px 0 var(--title-edge-color);
}

.game__title-second-line {
  font-size: 74px;
  letter-spacing: -2px;
  text-shadow: 0 6px 0 var(--title-edge-color);
}

.game__score,
.game__result-best,
.game__result-score {
  font-size: var(--font-size--h2);
  color: var(--white);
  text-shadow: 0 2px 0 var(--text-color);
}

.game__result {
  display: flex;
  justify-content: center;
  gap: 32px;
  text-align: center;
}

.game__result-score-label,
.game__result-best-label {
  color: var(--text-color--soft);
  padding-bottom: 4px;
}

.game__start-hint,
.game__reset-hint {
  position: absolute;
  display: block;
  margin: 0;
  padding: 4px 8px;
  border-radius: var(--border-radius) var(--border-radius) var(--border-radius) 0;
  background-color: var(--white);
  color: var(--text-color);
  font-weight: var(--font-weight--bold);
  text-align: center;
  z-index: 1;
  visibility: hidden;
}

.game__container {
  position: relative;
}

.game__canvas {
  display: block;
  background-image: url("../img/background-0.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% auto;
  visibility: hidden;
}

.game__canvas-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% auto;
  z-index: -1;
}

.game__canvas-container--bg-0::after {
  background-image: url("../img/background-0.png");
  opacity: 0;
  animation: 1s fade-in 1s forwards;
  z-index: 0;
}

.game__canvas-container--bg-1::after {
  background-image: url("../img/background-1.png");
  opacity: 0;
  animation: 1s fade-in 1s forwards;
  z-index: 0;
}

.game__canvas-container--bg-2::after {
  background-image: url("../img/background-2.png");
  opacity: 0;
  animation: 1s fade-in 1s forwards;
  z-index: 0;
}

.game__canvas-container--bg-3::after {
  background-image: url("../img/background-3.png");
  opacity: 0;
  animation: 1s fade-in 1s forwards;
  z-index: 0;
}

/* INFO BUTTON */

.info-button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 8px;
  border: none;
  border-radius: 0 0 0 var(--border-radius);
  background-color: var(--white);
  color: var(--text-color);
  font-weight: var(--font-weight--bold);
  display: grid;
  grid-template-columns: auto auto;
  gap: 4px;
  cursor: pointer;
  visibility: hidden;
}

.info-button__icon {
  padding: 9px;
  background-image: url("../img/snack.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.info-button__text {
  padding: 1px 0;
}

/* INFO MODAL */

.info-modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  display: grid;
  place-items: center;
  padding: 24px;
  background-color: var(--modal-bg-color);
  cursor: pointer;
  visibility: hidden;
}

.info-modal__card {
  max-width: 320px;
  background-color: var(--white);
  padding: 32px;
  border-radius: var(--border-radius);
  box-shadow: 0 var(--edge-height) 0 var(--modal-edge-color);
  line-height: var(--line-height);
  font-weight: var(--font-weight);
  color: var(--text-color);
  cursor: default;
}

.info-modal__header {
  text-align: center;
  margin-top: 16px;
  margin-bottom: 32px;
}

.info-modal__decoration {
  display: inline-block;
  width: 94px;
  height: 24px;
  background-image: url('../img/enemy-1.png'), url('../img/enemy-1.png'), url('../img/enemy-1.png');
  background-position: left, center, right;
  background-size: 24px 24px, 24px 24px, 24px 24px;
  background-repeat: no-repeat;
}

.info-modal__footer {
  color: var(--text-color--soft);
  text-align: center;
  margin-top: 48px;
}

/* DESKTOP STYLES */

@media (min-aspect-ratio: 1/1) and (min-width: 900px) {
  .game__canvas-container::after {
    border-radius: var(--border-radius);
  }

  .game__canvas {
    border-radius: var(--border-radius);
    box-shadow: 0 var(--edge-height) 0 var(--game-edge-color);
  }

  .game__title,
  .game__score,
  .game__result {
    top: 17%;
  }
}

/* ANIMATIONS */

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.spawn-and-shrug-bubble {
  animation: spawn-bubble 350ms forwards, shrug-bubble 4s infinite;
  /* delay the shrug animation until spawn finishes */
  animation-delay: 0s, 350ms;
}

@keyframes spawn-bubble {
  0% {
    transform: translateY(8px);
    opacity: 0.6;
  }

  60% {
    transform: translateY(8px);
    opacity: 1;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes shrug-bubble {
  0% {
    transform: translateY(0);
  }

  80% {
    transform: translateY(0);
  }

  85% {
    transform: translateY(-8px);
  }

  90% {
    transform: translateY(0);
  }

  95% {
    transform: translateY(-8px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
